{% extends '@DockerJobs/layout.html.twig' %}
{% trans_default_domain 'DockerJobsBundle' %}

{% block content %}
    <div class="container-fluid mt-3">
        <h1>Hello !</h1>
    </div>
{% endblock %}
